        <div class="myitem mb-2">
          <div class="card mycard">
            <%= link_to product do %>
            <%= image_tag product.image, class: 'card-img-top myphoto' if product.image.attached? %>
            <%= image_tag  product.photo, class: 'card-img-top myphoto' %>
            <% end %>
            <div class="card-body">
              <h5> <%= product.name %> </h5>
              <h4><%= number_to_currency(product.unit_price, precision: 0) %></h4>
              <h4><%= product.description %></h4>
              <h4><%= product.stock %></h4>
              <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-warning', method: :post  %>
            </div>
          </div>
        </div>
