<%
=begin%>
 <%= stylesheet_link_tag "mystyle.css" %> 
<%
=end%>
<%= render 'shared/carousel' %>
<p id="notice"><%= notice %></p>

<h1>Artículos para el hogar</h1>

<br> 

<div class="container">
  <div class="card-columns">
      <%= render  @products %>
      <div class="w-100" style="margin-top:20px;"> </div>
    </div>
</div>

<br>


 <%
=begin%>
 <%= link_to 'New Product', new_product_path %>  
<%
=end%>


