
 <p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Unit price</th>
      <th>Description</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.photo %></td>
        <td><%= product.unit_price %></td>
        <td><%= product.description %></td>
        <td><%= product.stock %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> 


<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<div class="container">
  <div class="row">
    <% @products.each_slice(3) do |row| %>
      <% row.each do |product| %>
        <div class="col">
          <div class="card">
            <%= image_tag product.photo, class: 'card-img-top' %>
            <div class="card-body">
              <h5> <%= product.name %> </h5>
              <h4><%= product.unit_price %></h4>
              <h4><%= product.description %></h4>
              <h4><%= product.stock %></h4>
              <td><%= link_to 'Show', product %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%= link_to  "Agregar al carro", products_index_path, class: 'btn btn-primary' %>
              <%
=begin%>
 <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-success', method: :post  %> 
<%
=end%>
              
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
