<%
=begin%>
 <%= stylesheet_link_tag "mystyle.css" %> 
<%
=end%>
<%= render 'shared/carousel' %>
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<br> 

<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<div class="container">
  <div class="card-columns">
      <%= render  @products %>
      <div class="w-100" style="margin-top:20px;"> </div>
    </div>
</div>

<br>


 <%
=begin%>
 <%= link_to 'New Product', new_product_path %>  
<%
=end%>


