
 <p id="notice"><%= notice %></p>

<h1>Products</h1>

<br> 

<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<div class="container">
  <div class="row">
    <% @products.each_slice(3) do |row| %>
      <% row.each do |product| %>
        <div class="col myitem">
          <div class="card mycard">
            <%= link_to product do %>
              <%= image_tag product.photo, class: 'card-img-top myphoto' %>
            <% end %>
            <div class="card-body">
              <h5> <%= product.name %> </h5>
              <h4><%= number_to_currency(product.unit_price, precision: 0) %></h4>
              <h4><%= product.description %></h4>
              <h4><%= product.stock %></h4>
              <td><%= link_to 'Show', product %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-warning', method: :post  %>
              
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
